<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

    <h1>Create Cohort</h1>

    <div>
        <label for="login"> Name: </label>
        <input type="type" placeholder="name">
    </div>

    <br>

    <div>
        <label for="login">Description: </label>
        <textarea name="description" id="" cols="30" rows="10"></textarea>
    </div>

    <br>

    <button type="submit">Create Cohort</button>

    <br>
    <br>
    <br>
    <br>

    <hr/>

    <h1>Create Native</h1>

    <br>

    <div>
        <label for="login"> Name: </label>
        <input type="type" placeholder="name">
    </div>

    <br>

    <div>
        <label for="login">Cohort: </label>
        <textarea name="cohort" ></textarea>
    </div>

    <div>
        <br>
        <img src="", alt="Native's image">
    </div>

    <div>
        <br>
        <br>
        <label for="login">scn: </label>
        <input type="text" placeholder="scn">
    </div>

    <br>

    <button type="submit">Create Native</button>
    <div/>
    <br>

</body>
</html>